{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="margin-top: 15%; margin-bottom: 20%">
        <div class="row">
            <div class="col-6 offset-lg-3">
                <h1>{{title}}</h1>
                <hr>
                <p>
                    <a href="tel:+998977777777">Телефон: +998977777777</a>
                </p>
                <p>
                    Адрес: Г.Ташкент, Мирзо-Улугбекский район, ул.Амира Тимура, дом 5
                </p>
                <hr>
            </div>
        </div>
</div>
{% endblock content%}