{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top: 15%; margin-bottom: 15%">
        <div class="row">
            <div class="col-6 offset-lg-3">
                <h1>Зарегистрироваться</h1>
                <hr>
                <form action="{% url 'customusers:register' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <hr>
                    <button type="submit" class="btn btn-light">Зарегистрироваться</button>
                </form>

            </div>
        </div>
</div>
{% endblock %}